<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8" />
    <title>this is a home page Document</title>

    <script>
        function submitForm(id) {
            let form = "document.getElementsByTagName('form')[id-1];
            form.submit();
        }
    </script>
</head>
<body>

<!-- New Design Starts -->
<section class="banner courses archive section">
    <span th:if="${message}">
    <h1 style="text-align: center; padding-bottom:200px;color: #4B5563;" th:text="${message}"></h1>
    </span>
    <span th:if="!${message}">
    <h1 style="text-align: center;color: #4B5563;" th:text="${title}"></h1>
    </span>
    <!-- Courses -->
    <div class="container">
        <div class="row">

            <th:block th:each="course : ${courseList}">
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Single Course -->
                    <div class="single-course">
                        <!-- Course Head -->
                        <div class="course-head overlay">
                            <img th:src="@{${'/image/courses/course'+ course.imageId + '.jpg'}}" alt="#"/>

                            <span th:if="!${session.user}"><a  th:href="@{/signup}" th:style="'border-radius:4rem!important;'" class="btn white primary">Register Now</a></span>

                            <span th:if="${session.user}">
                                <div th:switch="${session.user.role}">
                                    <span th:case="'admin'">
                                        <form th:id="*{id}" class="form" th:action="@{/init-manage-course}" method="post"   th:object="${course}">
                                            <input type="hidden"  name="id" th:value=*{id} />
                                            <input type="hidden"  name="imageId" th:value=*{imageId} />
                                            <input type="hidden" name="courseName" th:value="*{courseName}" />
                                            <input type="hidden" name="courseDescription"th:value="*{courseDescription}" />
                                            <input type="hidden" name="duration" th:value=*{duration} />
                                            <input type="hidden" name="trainer" th:value="*{trainer}" />
                                            <input type="hidden" name="rating" th:value="*{rating}" />
                                            <input type="hidden" name="price" th:value="*{price}" />
                                            <a  th:style="'border-radius:4rem!important;'"  th:onclick="submitForm([[${course.id}]])"  class="a btn white primary">Manage Course</a>
                                        </form>
                                    </span>

                                    <span th:case="'user'">

                                        <a th:style="'border-radius:4rem!important;'" th:if="${course.isEnrolled == false}" th:href="@{/enroll/{id}(id = ${course.id})}" class="btn before-enrolled white primary">Enroll Now</a>
                                        <a th:style="'border-radius:4rem!important;'" th:if="${course.isEnrolled == true}" class="btn enrolled-btn white primary">Already Enrolled</a>

                                    </span>
                                </div>
                            </span>
                        </div>

                        <!-- Course Body -->
                        <div class="course-body">
                            <div class="name-price">
                                <div class="teacher-info">
                                    <img th:src="@{${'/image/teachers/author'+ course.imageId + '.jpg'}}" alt="#"/>
                                    <h4 class="title" th:text="${course.trainer}"></h4>
                                </div>
                                <span th:style="'background-color: #6674CC;'"th:if="${course.price != 0}" class="price" th:text="${'₹'+course.price+'/-'}"></span>
                                <span  th:style="'background-color: #6674CC;'"th:if="${course.price == 0}" class="price">FREE</span>
                            </div>
<!--      <h4 class="c-title"><a  th:if="${course.isEnrolled == false}" th:text="${course.courseName}"></a></h4-->
                            <form th:id="*{id}" class="form" th:action="@{/init-course-detail}" method="post"   th:object="${course}">
                                <input type="hidden"  name="id" th:value=*{id} />
                                <input type="hidden"  name="imageId" th:value=*{imageId} />
                                <input type="hidden" name="courseName" th:value="*{courseName}" />
                                <input type="hidden" name="courseDescription"th:value="*{courseDescription}" />
                                <input type="hidden" name="duration" th:value=*{duration} />
                                <input type="hidden" name="trainer" th:value="*{trainer}" />
                                <input type="hidden" name="rating" th:value="*{rating}" />
                                <input type="hidden" name="price" th:value="*{price}" />
                                <h4 class="c-title"> <a    th:onclick="submitForm([[${course.id}]])"  th:text="${course.courseName}"></a></h4>
                            </form>
<!--                            <h4 class="c-title"><a  th:if="${course.isEnrolled == true}"th:href="@{/init-manage-course}" th:text="${course.courseName}"></a></h4>-->
                            <p th:text="${course.courseDescription}"></p>
                        </div>
                        <!-- Course Meta -->
                        <div class="course-meta">
                            <!-- Rattings -->
                            <ul class="rattings">
                                <li><i th:style="'color: #6674CC!important;'" class="fa fa-star"></i></li>
                                <li th:style="'color: #6674CC!important;'" th:if = "${course.rating >= 2}"><i  class="fa fa-star"></i></li>
                                <li th:style="'color: #6674CC!important;'" th:if = "${course.rating >= 3}"><i class="fa fa-star"></i></li>
                                <li th:style="'color: #6674CC!important;'" th:if = "${course.rating >= 4}"><i class="fa fa-star"></i></li>
                                <li th:style="'color: #6674CC!important;'"  th:if = "${course.rating >= 5}"><i class="fa fa-star"></i></li>
                                <li th:style="'color: #6674CC!important;'" th:if = "${course.rating == 2.5 || course.rating == 3.5 || course.rating == 4.5}"><i  th:style="'color: #6674CC!important;'" class="fa fa-star-half-o"></i></li>
                                <li th:style="'color: #6674CC!important;'"  class="point" th:text="${course.rating}"><span></span></li>
                            </ul>
                            <!-- Course Info -->
                            <div class="course-info">
                                <span><i class="fa fa-users"></i>2.4k Enrolled</span>
                                <span><i class="fa fa-calendar-o" th:text="${' '+ course.duration}"></i>Days </span>
                                <span><i class="fa fa-clock-o" ></i>09:30 - 12:00</span>
                            </div>
                        </div>
                        <!--/ End Course Meta -->
                    </div>
                    <!--/ End Single Course -->
                </div>
            </th:block>
        </div>
    </div>
    <!--/ End Courses -->
</section>
<!-- New Design End -->
</body>
</html>