body{
	 background: #e2e2e2!important;
}
.bg-primary{
	background: #009688 !important;
}
.banner{
	width:100%;
	height:93vh;
	background:linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),url(../image/banner.jpg);
	background-size:cover;
	color:white;

}
.mycard{
	padding:  20px;
	background: #FFFFFF;
}