body{
	 background: white!important;
}
.bg-primary{
	background: #009688 !important;
}
.banner{
       background-size:cover;
       background-position:center;
        background-color:#FFFFFF;
}
.my-card{
        padding:20px;

}

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

.form {
    margin-top: 2px;
    padding-top: 25px
}

.heading {
    align: center
}
/* search css */
*{
margin:0;
padding: 0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}
.search-banner{
   width: 100%;
   height:93vh;
   padding:5%;
   background-image:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url(../image/banner.jpg);
   background-position:center;
   background-size:cover;
   color:white;
   display:flex;
   align-items:center;
   justify-content:center

}
.search-bar{
  width:100%;
  max-width:900px;
  background:rgba(255,255,255,0.2);
  display:flex;
  align-items:center;
  border-radius:60px;
  /*padding:1px 30px;*/
  back-drop-filter:blur(4px); saturate(180);
 }
.search-bar input{
   background:transparent;
   flex: 1;



   border: 0;
   outline: none;
   padding: 23px 20px;
   font-size:20px;
   color:#ffffff;
}
::placeholder{
  color:#ffffff;
}
.search-bar button img{
  width:25px;
}
.search-bar button{
border:0;
border-radius:50%;
width:50px;
height: 60px;

cursor:pointer;
}

.alert-custom {
    position: relative;
    padding: 0.75rem 1.25rem;
    /* margin-bottom: 1rem; */
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.delete-link {
    color:red;
}

.heading {
    text-align: center;
}

.btn {
    border-radius:4px !important;
}

.nav-section-float{
    float : right;
}



/* Landing page styles */
.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*height: 95vh; */
    background-size: cover;
    background-position: center;
    text-align: center;
}

.bg-image {
    color: #000;
    height: 90vh;
    background-image:url(../image/banner.jpg);
}

.landing-heading {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    max-width: 500px;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.search-bar input[type="text"] {
    flex: 1;
    padding: 10px 15px;
    border: none;
    outline: none;
    font-size: 1rem;
}

.search-bar button {
    border: none;
    padding: 10px 15px;

    cursor: pointer;
    outline: none;
}

.search-bar button img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.logo-new {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 58%;
 }



/*.nav-path*/
/*z{*/
/*    height: 40px;*/
/*    background: #FFFFFF;*/
/*    font-size: 16px;*/
/*    border-radius: 8px;*/
/*    color: #384158;*/
/*    font-weight: 500;*/
/*    line-height: 40px;*/
/*    text-align: center;*/
/*    text-transform: uppercase;*/
/*    cursor: pointer;*/
/*    margin-right: 10px;*/
/*    padding-left: 21px;*/
/*    padding-right: 20px;*/
/*    -webkit-transition: all 200ms ease;*/
/*    -moz-transition: all 200ms ease;*/
/*    -ms-transition: all 200ms ease;*/
/*    -o-transition: all 200ms ease;*/
/*    transition: all 200ms ease;*/
/*}*
/*.nav-path.active,*/
/*.nav-path:hover*/
/*{*/
/*    background: #6474cc;*/
/*    color: #FFFFFF;*/
/*}*/


.nav-path
{
	height: 40px;
	background: #white;
	font-size: 16px;
	color: #384158;
	font-weight: 500;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	margin-right: 10px;
	border-radius:5px;
	padding-left: 21px;
	padding-right: 20px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.nav-path.active,
.nav-path:hover
{
	background: #6474cc;
	color: #FFFFFF;
}