<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8"/>
    <title>This is a home page</title>
</head>
<body>
<section class="text-gray-600 body-font relative">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-12">
            <span th:style="'margin-top:50px'"></span>
            <h1 th:style="'color:black;'" class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Contact Us</h1>
        </div>
        <form th:action="@{/submit-contactus}" method="post" th:object="${contactUs}" >
            <span th:if="${contactus}">
                <div id="successAlert" class="alert alert-success" role="alert">
                    <h6 class="fas fa-check-circle " th:text="${contactus}"></h6>
                </div>
            </span>
            <div th:style="'width:50%; '" class="md:w-2/3 mx-auto">
                <div th:style="'display:flex;flex-wrap:wrap; margin:-0.5rem;'">
                    <div th:style="'width:50%; '" class="p-2 ">
                        <div class="relative">
                            <label for="name" class="leading-7 text-sm text-gray-600">Name</label>
                            <input th:style="'background-color:#F3F4F680;padding:10px; font-weight:normal'"
                                   type="text"
                                   id="name"
                                   name="name"
                                   class="form-control"
                                   required
                                   th:field="*{name}"
                            >
                        </div>
                    </div>
                    <div th:style="'width:50%;'" class="p-2">
                        <div class="relative">
                            <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
                            <input th:style="'background-color:#F3F4F680;padding:10px; font-weight:normal'"
                                   type="email"
                                   id="email"
                                   name="email"
                                   class="form-control"
                                   required
                                   th:field="*{email}"
                            >
                        </div>
                    </div>
                    <div class="p-2 w-full">
                        <div class="relative">
                            <label for="message" class="leading-7 text-sm text-gray-600">Message</label>
                            <textarea th:style="'background-color:#F3F4F680;height:8rem;'"
                                      id="message"
                                      name="message"
                                      class="form-control"
                                      required
                                      th:field="*{message}"
                            ></textarea>
                        </div>
                    </div>
                    <div class="p-2 w-full">
                        <button th:style="'border-radius:4rem!important;background-color: #6674CC;padding-left:2rem;padding-right:2rem;padding-top:0.5rem;padding-bottom:0.5rem;font-size:1.125;line-height:2.125;'"
                                class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"
                        >
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
</body>
</html>
