<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8" />
    <title>this is a home page Document</title>
</head>
<body>

<!-- New Design Starts -->
<section class="banner courses archive section">
    <!-- Courses -->
        <div class="container">
            <div class="row">
                <th:block th:each="course : ${courseList}">
                    <div class="col-lg-4 col-md-6 col-12">
                    <!-- Single Course -->
                    <div class="single-course">
                        <!-- Course Head -->
                        <div class="course-head overlay">
                            <img th:src="@{${'image/courses/course'+ course.imageId + '.jpg'}}" alt="#"/>
                            <a href="course-single.html" class="btn white primary">Register Now</a>
                        </div>
                        <!-- Course Body -->
                        <div class="course-body">
                            <div class="name-price">
                                <div class="teacher-info">
                                    <img th:src="@{${'/image/teachers/author'+ course.imageId + '.jpg'}}" alt="#"/>
                                    <h4 class="title" th:text="${course.trainer}"></h4>
                                </div>
                                <span class="price">$350</span>
                            </div>
                            <h4 class="c-title"><a th:href="@{/coursedetail}" th:text="${course.courseName}"></a></h4>
                            <p th:text="${course.courseDescription}"></p>
                        </div>
                        <!-- Course Meta -->
                        <div class="course-meta">
                            <!-- Rattings -->
                            <ul class="rattings">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star-half-o"></i></li>
                                <li class="point"><span>4.5</span></li>
                            </ul>
                            <!-- Course Info -->
                            <div class="course-info">
                                <span><i class="fa fa-users"></i>2.4k Enrolled</span>
                                <span><i class="fa fa-calendar-o" th:text="${course.duration}" ></i> Days </span>
                                <span><i class="fa fa-clock-o" ></i>09:30 - 12:00</span>
                            </div>
                        </div>
                        <!--/ End Course Meta -->
                    </div>
                    <!--/ End Single Course -->
                </div>
                </th:block>
            </div>
        </div>
    <!--/ End Courses -->

</section>
<!-- New Design End -->

<section class="banner">
    <br>
    <div class = "">
        <h3 class="heading text-info" >List Of Available Courses</h3>
    </div>
    <br>

    <div class=" d-flex justify-content-center align-items-center">
        <!-- Table Starts -->
        <table border = "1">
            <!-- Table Header -->
            <tr>
                <th>Id</th>
                <th>Course Name</th>
                <th>Description</th>
                <th>Day(s)</th>
                <th>Trainer</th>
                <th th:if="${session.user}">Enrollment</th>
            </tr>
            <!-- Table Data Section -->

            <th:block th:each="course : ${courseList}">
                <tr>
                    <td th:text="${course.id}" />
                    <!--<td th:text="${course.courseName}" />-->
                    <td>
                        <a th:href="@{/coursedetail}" th:text="${course.courseName}"></a>
                    </td>
                    <td th:text="${course.courseDescription}" />
                    <td th:text="${course.duration}" />
                    <td th:text="${course.trainer}" />
                    <div th:if="${session.user}" >
                        <form  id="enroll" class="form" action="#" th:action="@{/enroll}" method="post"   th:object="${enrolledCourse}">
                           <!-- <div th:object="${course}">-->
                               <!-- <input type="hidden" id="id" name="id" th:value="${course.id}">
                                <input type="hidden" id="courseName" name="courseName" th:value="${course.courseName}">-->
                                <td>  <a href="#" onclick="document.getElementById('enroll').submit();">Enroll</a> </td>
                           <!-- </div>-->
                        </form>
                    </div>


                </tr>
                </tr>
            </th:block>
        </table>
        <!-- Table Starts -->

    </div>
</section>
</body>
</html>















