<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>alert</title>
</head>
<body>
<div th:fragment="footer">
<footer class="ftr-footer">
    <div class="ftr-footer_background" style="background-image:url(image/footer/background.png)"></div>
    <div class="ftr-container">
        <div class="ftr-row footer-row">
            <div class="ftr-col">
                <div class="ftr-footer_content">
                    <div class="ftr-row ">

                        <div class="ftr-col-lg-3 ftr_col">

                            <!-- Footer About -->
                            <div class="ftr-footer_section footer_about">
                                <div class="ftr-footer_logo_container">
                                    <a href="#">
                                        <img style="margin-left:0rem;" src="/image/footer/logo-trim-footer.png">
                                    </a>
                                </div>
                                <div class="ftr-footer_about_text">

                                </div>
                                <div class="ftr-footer_social">
                                    <ul>
                                        <li><a href="https://www.facebook.com/profile.php?id=100023224683482"><img src="/image/footer/facebook.png" alt="Facebook" /></a></li>
                                        <li><a href="https://github.com/arehman1711"><img src="/image/footer/icons8-github-512.png" alt="GitHub" /></a></li>
                                        <li><a href="https://www.instagram.com/a.rehman1711/"><img src="/image/footer/instagram.png" alt="Instagram" /></a></li>
                                        <li><a href="https://www.linkedin.com/in/arehman1711"><img src="/image/footer/linkedin.png" alt="LinkedIn" /></a></li>
                                    </ul>
                                </div>

                            </div>

                        </div>

                        <div class="ftr-col-lg-3 ftr_col">

                            <!-- Footer Contact -->
                            <div class="ftr-footer_section ftr_contact">
                                <div class="ftr-footer_title">Contact Us</div>
                                <div class="ftr-footer_contact_info">
                                    <ul>
                                        <li>Email:   a.rehman1711@gmail.com</li>
                                        <li>Phone:   +91 8951761966</li>
                                        <li>Address: Bangalore 560036 karnataka, India</li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                        <div class="ftr-col-lg-3 footer_col">

                            <!-- Footer links -->
                            <div class="ftr-footer_section footer_links">
                                <div class="ftr-footer_title">Menu</div>
                                <div class="ftr-footer_links_container">
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="about.html">Search</a></li>
                                        <li><a href="contact.html">Contact Us</a></li>
                                        <li><a href="#">Courses</a></li>
                                        <li><a href="courses.html">About</a></li>
                                        <li><a href="#">Sign Up</a></li>

                                    </ul>
                                </div>
                            </div>

                        </div>

                        <div class="ftr-col-lg-3 footer_col clearfix">

                            <!-- Footer links -->
                            <div class="ftr-footer_section ftr-footer_mobile">
                                <div class="ftr-footer_title">  Mobile App</div>
                                <div class="ftr-footer_mobile_content">
                                    <div class="ftr-footer_image"><a href="#"><img src="image/footer/mobile_1.png" alt=""></a></div>
                                    <div class="ftr-footer_image"><a href="#"><img src="image/footer/mobile_2.png" alt=""></a></div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="ftr-row copyright_row">
            <div class="ftr-col">
                <div class="ftr-copyright d-flex flex-lg-row flex-column align-items-center justify-content-start">
                    <div class="ftr-cr_text"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy; <script>document.write(new Date().getFullYear());</script> Learning Kart. All rights reserved <i class="" aria-hidden="true"></i>  <a href="https://colorlib.com" target="_blank"></a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
                    <div class="ftr-ml-lg-auto cr_links">
                        <ul class="ftr-cr_list">
                            <li><a href="#">Copyright notification</a></li>
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
</body>
</html>
</footer>