<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})"
      xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="UTF-8" />
    <title>this is a home page Document</title>
      <link rel="stylesheet" th:href="@{style.css}" />
  </head>
  <body>
  <section class="search-banner">
    <form class="search-bar" action="#" th:action="@{/search}" method="post" >
        <input type="text "  id="searchText" name="searchText" placeholder="search  courses"/>
        <button type="submit"><img src="image/search.png"></button>
      </form>

  </section>
  </body>
</html>















