<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>alert</title>
</head>
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <a class="navbar-brand" th:href="@{/}" >Learning kart</a>

        <span  th:if="!${session.user}" align="center" th:text="'Hello Guest..!'"></span>

        <span  th:if="${session.user}" align="center" th:text="'Hello, ' + ${#session.getAttribute('name')} + '!'"></span>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!--Guest Section-->
            <div class="navbar navbar-expand-lg navbar-dark bg-info collapse navbar-collapse navbar-right" th:if="!${session.user}">
                <ul class="navbar-nav ml-auto text-uppercase">
                    <li class="nav-item active">
                        <a th:href="@{/}" class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a th:href="@{/}" class="nav-link" href="#">Search <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/courses}" href="/courses" >courses</a>
                    </li>

                    <li class="nav-item" >
                        <a class="nav-link" th:href="@{/signup}" href="#">Signup</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}" href="/login">Login</a>
                    </li>

                    <li class="nav-item" >
                        <a class="nav-link" th:href="@{/contactus}" href="/contactus">Contact US</a>
                    </li>
                </ul>
            </div>



                <span th:if="${session.user}"  th:switch="${session.user.role}" class="navbar navbar-expand-lg navbar-dark bg-info collapse navbar-collapse navbar-right">

                    <!--User Section-->
                    <span th:case="'user'"  class="navbar navbar-expand-lg navbar-dark bg-info collapse navbar-collapse navbar-right" >
                        <ul class="navbar-nav ml-auto text-uppercase">
                            <li class="nav-item active">
                                <a th:href="@{/}" class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>

                            <li class="nav-item">
                                <a th:href="@{/}" class="nav-link" href="#">Search <span class="sr-only">(current)</span></a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/courses}" href="/courses" >courses</a>
                            </li>

                            <li class="nav-item" >
                                <a class="nav-link" th:href="@{/my-courses}" >My Course</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/profile}" href="/profile">Profile</a>
                            </li>

                            <li class="nav-item" >
                                <a class="nav-link" th:href="@{/logout}" href="/logout">Logout</a>
                            </li>

                            <li class="nav-item" >
                                <a class="nav-link" th:href="@{/contactus}" href="/contactus">Contact US</a>
                            </li>
                        </ul>
                    </span>

                    <!--Admin Section-->
                    <span  th:case="'admin'" class="navbar navbar-expand-lg navbar-dark bg-info collapse navbar-collapse navbar-right" >
                        <ul class="navbar-nav ml-auto text-uppercase">
                            <li class="nav-item active">
                                <a th:href="@{/}" class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>

                            <li class="nav-item">
                                <a th:href="@{/}" class="nav-link" href="#">Search <span class="sr-only">(current)</span></a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/init-add-course}" >Add Course</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/courses}" >Manage Course</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/profile}" href="/profile">Profile</a>
                            </li>

                            <li class="nav-item" >
                                <a class="nav-link" th:href="@{/logout}" href="/logout">Logout</a>
                            </li>
                        </ul>
                    </span>
                </span>
            </div>
    </nav>
</div>

</div>
</body>
</html>
