<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" th:replace="responsive-base::layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<section class="landing-page">

    <span style="margin-top:100px;">
  <h1  class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900" style="text-align: center"  th:if="!${session.name}">
    Hello, <span  th:if="!${session.name}"id="guest-text" style="color:#4055c9;"></span>
  </h1>
</span>



    <span>
  <h1 id="welcome-text" class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900" style="text-align: center" th:if="${session.name}" >
    Welcome, <span th:if="${session.name}" id="session-name" style="color:#4055c9;"></span>
  </h1>
</span>
    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">

        <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
            <h1  class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Unlock Your Potential:
                <br class="hidden lg:inline-block"> <span style="color:#4055c9">Empowering Growth through Online Learning</span>
            </h1>

            <p class="mb-8 leading-relaxed">
                Discover boundless opportunities with our online learning platform. Unlock your true potential and embrace continuous growth, all from the comfort of your home. Empower yourself with knowledge, skills, and confidence, as you embark on a transformative journey of learning and achievement.
            </p>
            <div class="flex justify-center">
           <span th:if="${session.name}">
                 <a th:href="@{/search}" style=" color: #FFFFFF; text-decoration: none; font-size: 18px; text-transform: uppercase; padding: 0.5rem 0.85rem; background-color: #6674CC; border: 1px solid #6674CC; border-radius: 0.375rem; display: flex; align-items: center;" href="#">
                    Search
                    <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="ml-2 text-xl" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"></path>
                        <polyline points="10 17 15 12 10 7"></polyline>
                        <line x1="15" y1="12" x2="3" y2="12"></line>
                    </svg>
                </a>
           </span>
            </div>

            <div class="flex justify-center">
           <span th:if="!${session.name}">
               <a th:href="@{/login}" style=" color: #FFFFFF; text-decoration: none; font-size: 18px; text-transform: uppercase; padding: 0.5rem 0.85rem; background-color: #6674CC; border: 1px solid #6674CC; border-radius: 0.375rem; display: flex; align-items: center;" href="#">
                    Login
                    <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="ml-2 text-xl" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"></path>
                        <polyline points="10 17 15 12 10 7"></polyline>
                        <line x1="15" y1="12" x2="3" y2="12"></line>
                    </svg>
                </a>

           </span>
            </div>
        </div>


        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
            <img class="object-cover object-center rounded" alt="Unable to fetch please connect to the Internet"
                 src="/image/Home.jpg">
        </div>

    </div>
    <div th:style="'width: 100%;height: 1px;--tw-bg-opacity: 1;
    background-color: rgb(119 124 133/var(--tw-bg-opacity));'"></div>
    <div th:style="'   margin: 20px;
   /* Add a border to the section */
    padding: 10px; /* Add some padding inside the border */
    border-radius: 10px; /* Make the border edges rounded */
    max-width: 300px; /* Set a maximum width for the section */
    text-align: center; '">

        <img th:style="'   display: block;
    margin: 0 auto;
    border-radius: 50%; /* Make the image round by setting a border radius of 50% */
    width: 150px; /* Set a fixed width for the circular image */
    height: 150px; /* Set a fixed height for the circular image */
    object-fit: cover; /* Maintain aspect ratio and cover the entire circle */
    border: 3px solid #fff; '" src="/image/teachers/Khushhal_Photo.jpg" alt="Founder Image" />
        <div th:style="'--tw-space-y-reverse: 0;
    margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem * var(--tw-space-y-reverse));font-family: Rubik,sans-serif;    text-align: center;'">
            <p th:style="'    font-weight: 700;font-size: 1.875rem;
    line-height: 2.25rem;'">
                Mohd Khushhal
            </p>
            <p th:style="'--tw-text-opacity: 1;
    color: rgb(119 124 133/var(--tw-text-opacity));font-size: 1.5rem;
    line-height: 2rem;'">
                Founder, Learning Kart
            </p>
        </div>
    </div>

    <div th:style="'opacity: 1;
    transform: none;gap: 0;grid-template-columns: repeat(3,minmax(0,1fr));padding-top: 2.5rem;    padding-bottom: 6rem;    display: grid;'">
        <div th:style="'    margin-left: 150px; '"><img src="/image/amdocs-logo.svg.png" alt="company logo" class="mx-auto w-fit"><p class="text-xl text-textpara">Ex-Amdocs , SWE</p>
        </div>
        <div th:style="' margin-left: 150px; '"><img src="/image/1280px-Sears_logo_(2020).svg.png" alt="company logo" class="mx-auto w-fit"><p class="text-xl text-textpara">Ex-sears holdings, SWE</p>
        </div>
        <div th:style="''"><img src="/image/Nike-Logo.png" alt="company logo" class="mx-auto w-fit"><p class="text-xl text-textpara">Currently @Nike</p></div>
    </div>


  <script>
  window.addEventListener('load', function() {
  var sessionName = "[[${session.name}]]!"; // Replace with the actual session name
  var typingSpeed = 100; // Speed of typing in milliseconds
  var typingDelay = 1000; // Delay before typing starts in milliseconds

  var sessionNameSpan = document.getElementById('session-name');
  var typedText = ''; // Variable to store the typed session name

  setTimeout(function() {
  typeText(sessionName, 0, typingSpeed);
  }, typingDelay);

  function typeText(text, index, speed) {
  if (index < text.length) {
  typedText += text.charAt(index);
  sessionNameSpan.textContent = typedText; // Update the session name with the typed characters
  index++;
  setTimeout(function() {
  typeText(text, index, speed);
  }, speed);
  }
  }
  });
      window.addEventListener('load', function() {
  var guestText = "guest!"; // Replace with the desired text
  var typingSpeed = 100; // Speed of typing in milliseconds
  var typingDelay = 1000; // Delay before typing starts in milliseconds

  setTimeout(function() {
    typeText(guestText, 0, typingSpeed);
  }, typingDelay);

  function typeText(text, index, speed) {
    var guestSpan = document.getElementById('guest-text');
    if (index < text.length) {
      guestSpan.textContent += text.charAt(index);
      index++;
      setTimeout(function() {
        typeText(text, index, speed);
      }, speed);
    }
  }
});

  // Get the alert element
var alertElement = document.getElementById('successAlert');

// Set a timeout to hide the alert after a specified number of milliseconds (e.g., 3000 milliseconds = 3 seconds)
setTimeout(function() {
alertElement.style.display = 'none';
}, 3000); // Adjust the time interval as needed

</script>
</body>

</html>